.md-fab-bottom-right {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
.md-icon-ux {
    width: 100px;
}
.icon {
  font-size: 48px;
}

.col-sm-3.toDoListCardCol
{
  padding-left: 3px;
  padding-right: 3px;
}

md-card.toDoListCard {
  min-height: 195px;
  /*min-width: 100px;*/
}

.reportsRow
{
  padding-left: 20px;
  padding-right: 20px;
}

.reportCardContent
{
  height: 64px;
}

md-icon.reportIcon{
  position: relative;
  float: right;
  font-size: 66px;
  color: white;
  text-align: center;
  vertical-align: middle;
  margin-right: 4px;
  margin-top: 4px;
}