<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span class="toolbarText"><img class="lisdLoginLogoWhite" src="assets/images/LISDWhite.png">COMS | Dashboard</span>
    <span flex></span>
    <button md-icon-button [mdMenuTriggerFor]="topRightMenu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #topRightMenu="mdMenu">
      <button md-menu-item (click)="logout()">
        <md-icon>exit_to_app</md-icon>
        <span>Logout</span>
      </button>
    </md-menu>
    <!--<a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>-->
  </div>
  <div class="md-content" flex md-scroll-y>
    <div class="row reportsRow">
      <h2 class="sectionTitle">Student Search</h2>
    </div>
    <md-input-container>
      <input mdInput placeholder="State" [mdAutocomplete]="auto" [formControl]="stateCtrl">
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let state of filteredStates | async" [value]="state">
        {{ state }}
      </md-option>
    </md-autocomplete>
  </div>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Copyright &copy; 2017 - <a href="lisd.net" target="_blank">Lewisville Independent School District. All rights reserved</a></span>
      <span flex></span>
      <img class="lisdFooterLogo" src="assets/images/LISDColor.png">
    </div>
  </td-layout-footer>
</td-layout-nav>
